<h3> Create a user</h3>
<div [hidden]="submitted" style="width: 400px;">

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Username</label>
      <input type="text" class="form-control" id="userName" required [(ngModel)]="user.userName" name="userName">
    </div>
    <div vlass="form-group">
      <label for="name">Password</label>
      <input type="text" class="form-control" id="password" required [(ngModel)]="user.password" name="password">
    </div>
    <button type="submit" class="btn btn-success">submit</button>
    <div id="div1"></div>
    <div id="div2"></div>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Input Successful</h4>
</div>
